EMAIL='prashantdwivedi.sfdc@gmail.com'
PASSWORD='^4D1JwVO44RSHIoD'

COUNTRY_CODE='en-gb'
SCHEDULE_ID='50483002'
FACILITY_ID='17'

NODE_ENV='prod'

NEXT_SCHEDULE_POLL= 10000 # delay before performing the next check for appointment in milliseconds
MAX_NUMBER_OF_POLL= 1000 # maximum number of poll before stopping the process
NOTIFY_ON_DATE_BEFORE= '2023-08-15'

NOTIFY_EMAILS='prashantdwivedi.sfdc@gmail.com'
MAILGUN_DOMAIN='sandbox1a4569e8241644108c36e4da1201758b.mailgun.org'
MAILGUN_API_KEY='key-ced649bd9fc7e638f60c210b594fc828'
